* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap: 30px;
}

.grid-square {
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 1);
}

